<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Autores</h1>
<a href="/">Home</a>
<a href="/quizzes"> Creador</a>
<p>Quiz creado por: Ignacio Gálvez</p>
<img src="/images/8.jpg" width="650"/>
</body>
</html>
